TropicalTrooperTemplate/obj/WerewolvesTemplate.csproj.nuget.g.targets
TropicalTrooperTemplate/obj/WerewolvesTemplate.csproj.nuget.g.props
TropicalTrooperTemplate/obj/WerewolvesTemplate.csproj.nuget.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.pdb
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.dll
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.csprojAssemblyReference.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.csproj.FileListAbsolute.txt
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.csproj.CoreCompileInputs.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.assets.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.RazorTargetAssemblyInfo.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.RazorAssemblyInfo.cs
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.RazorAssemblyInfo.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.AssemblyInfoInputs.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.AssemblyInfo.cs
TropicalTrooperTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.runtimeconfig.json
TropicalTrooperTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.runtimeconfig.dev.json
TropicalTrooperTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.pdb
TropicalTrooperTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.dll
TropicalTrooperTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.deps.json
.vs/WW_Template/v15/Server/sqlite3/storage.ide-wal
.vs/WW_Template/v15/Server/sqlite3/storage.ide-shm
.vs/WW_Template/v15/Server/sqlite3/storage.ide
.vs/WW_Template/v15/Server/sqlite3/db.lock
WerewolvesTemplate/obj/project.assets.json
WerewolvesTemplate/obj/WerewolvesTemplate.csproj.nuget.g.targets
WerewolvesTemplate/obj/WerewolvesTemplate.csproj.nuget.g.props
WerewolvesTemplate/obj/WerewolvesTemplate.csproj.nuget.cache
WerewolvesTemplate/obj/TropicalTrooperTemplate.csproj.nuget.g.targets
WerewolvesTemplate/obj/TropicalTrooperTemplate.csproj.nuget.g.props
WerewolvesTemplate/obj/TropicalTrooperTemplate.csproj.nuget.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.pdb
WerewolvesTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.dll
WerewolvesTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.csprojAssemblyReference.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.csproj.FileListAbsolute.txt
WerewolvesTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.csproj.CoreCompileInputs.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.assets.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.RazorTargetAssemblyInfo.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.RazorAssemblyInfo.cs
WerewolvesTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.RazorAssemblyInfo.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.AssemblyInfoInputs.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.AssemblyInfo.cs
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TropicalTrooperTemplate.pdb
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TropicalTrooperTemplate.dll
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TropicalTrooperTemplate.csprojAssemblyReference.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TropicalTrooperTemplate.csproj.FileListAbsolute.txt
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TropicalTrooperTemplate.csproj.CoreCompileInputs.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TropicalTrooperTemplate.assets.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TropicalTrooperTemplate.RazorTargetAssemblyInfo.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TropicalTrooperTemplate.RazorAssemblyInfo.cs
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TropicalTrooperTemplate.RazorAssemblyInfo.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TropicalTrooperTemplate.AssemblyInfoInputs.cache
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TropicalTrooperTemplate.AssemblyInfo.cs
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WerewolvesTemplate/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WerewolvesTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.runtimeconfig.json
WerewolvesTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.runtimeconfig.dev.json
WerewolvesTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.pdb
WerewolvesTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.dll
WerewolvesTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.deps.json
WerewolvesTemplate/bin/Debug/netcoreapp2.2/TropicalTrooperTemplate.runtimeconfig.json
WerewolvesTemplate/bin/Debug/netcoreapp2.2/TropicalTrooperTemplate.runtimeconfig.dev.json
WerewolvesTemplate/bin/Debug/netcoreapp2.2/TropicalTrooperTemplate.pdb
WerewolvesTemplate/bin/Debug/netcoreapp2.2/TropicalTrooperTemplate.dll
WerewolvesTemplate/bin/Debug/netcoreapp2.2/TropicalTrooperTemplate.deps.json
