TropicalTrooperTemplate/obj/WerewolvesTemplate.csproj.nuget.g.targets
TropicalTrooperTemplate/obj/WerewolvesTemplate.csproj.nuget.g.props
TropicalTrooperTemplate/obj/WerewolvesTemplate.csproj.nuget.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.pdb
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.dll
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.csprojAssemblyReference.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.csproj.FileListAbsolute.txt
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.csproj.CoreCompileInputs.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.assets.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.RazorTargetAssemblyInfo.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.RazorAssemblyInfo.cs
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.RazorAssemblyInfo.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.AssemblyInfoInputs.cache
TropicalTrooperTemplate/obj/Debug/netcoreapp2.2/WerewolvesTemplate.AssemblyInfo.cs
TropicalTrooperTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.runtimeconfig.json
TropicalTrooperTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.runtimeconfig.dev.json
TropicalTrooperTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.pdb
TropicalTrooperTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.dll
TropicalTrooperTemplate/bin/Debug/netcoreapp2.2/WerewolvesTemplate.deps.json
.vs/WW_Template/v15/Server/sqlite3/storage.ide-wal
.vs/WW_Template/v15/Server/sqlite3/storage.ide-shm
.vs/WW_Template/v15/Server/sqlite3/storage.ide
.vs/WW_Template/v15/Server/sqlite3/db.lock
